.box{
    min-height: 150px;
    background-color: #FFC0CB;
    border: 1px solid black;
    padding: 5px;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nested {
    background-color:#F07F80;
    border: 1px solid white;
    min-height: 145px;
    padding: 5px;
}

@media screen and (min-width: 1200px) {
    
    .box {
        background-color: #D3E68E;
    }

    .nested {
        background-color: #94C28F;
    }
    
}

